extends layout

block content
  // TODO make confirmation page beautiful again!
  div(class="mdl-typography--text-center")
    h3 Thank you for verifying you email
    a(href='/home')
      div(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") Continue