@font-face {
  font-family: 'Roboto', sans-serif;
}

.mdl-navigation a {
  text-decoration: none;
}

.mdl-navigation a.is-active {
  background-color: #e0e0e0;
}

.btn-xl {
  padding: 18px 28px;
  font-size: 24px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn {
  padding: 16px;
  margin-bottom: 30px;
}

.btn-primary{
  margin-top: 30px;
}

a {
  color: #00B7FF;
}

ng-view {
  padding: 60px 0;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.md-dark { color: rgba(0, 0, 0, 0.54); }
.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.md-light { color: rgba(255, 255, 255, 1); }
.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.profile-picture{
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 4px solid #FFF;
  margin: 10px;
}

.profile-picture-sm {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #FFF;
}

#fb-button i {
  margin-right: 5px;
}

.mdl-textfield .error, .mdl-js-textfield .error {
  color: #d50000;
  position: absolute;
  font-size: 12px;
  margin-top: 3px;
  display: block;
  padding: 0px;
}

.textfield-pad{
  padding-bottom: 0px;
  padding-top: 0px;
}

.event .mdl-card {
  width: 100%;
  max-width: 512px;
  margin: 0 auto;
}

.event {
  margin-bottom: 30px;
}

.event .mdl-card > .mdl-card__menu {
  color: #fff;
}

.event .mdl-card > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.event .mdl-card  > a .mdl-card__title {
  color: #fff;
  height: 176px;
}
.event .mdl-card p i {
  vertical-align: middle;
}

.events-spinner {
  display: table;
  margin: auto auto;
}


.event.ng-enter,
.event.ng-leave
{
  -webkit-transition: 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  -moz-transition: 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  -ms-transition: 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  -o-transition: 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  transition: 250ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
  position: relative;
  display: block;
}

.event.ng-enter.ng-enter-active,
.event.ng-leave {
  opacity: 1;
  right: 0;
  height: 370px;
}

.event.ng-leave.ng-leave-active,
.event.ng-enter {
  opacity: 0;
  right: -50px;
  height: 0;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal-content {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  font-family: 'Roboto', sans-serif;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 80%;
  max-width: 500px;
}

.dialog-title{
  color: black;
}

.pac-container {
  z-index: 1100;
}

#eventsRideModal input {
  width: 100%;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}

#eventsDriveModal input {
  width: 100%;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}


.mdl-layout__tab-bar-container {
  height: 0;
}

#eventsHistoryModal input {
  width: 100%;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}

.nameShadow{
  /*text-shadow: 0 1px 0 black;*/
  color:rgb(38, 38, 38);


}
.scrim{
  background: radial-gradient(circle, rgba(0,0,0,1) 10%,rgba(0,0,0,0) 90%);
  background: -webkit-radial-gradient(circle, rgba(48,48,48,1) 5%,rgba(48,48,48,0) 95%);
  background: -moz-radial-gradient(circle, rgba(0,0,0,1),rgba(0,0,0,0));

  width:100%;
  bottom: 0;
}


.event a {
  color: white;
  /*margin-top: auto;*/
}
