.btn-xl {
  padding: 18px 28px;
  font-size: 24px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn {
  padding: 16px;
  margin-bottom: 30px;
}

.btn-primary{
  margin-top: 30px;
}

body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ng-view {
  padding: 60px 0;
}

.navbar-absolute-bottom .btn-group a.active { /* selected navBar tab */
  background: #cfcfce;
}

.profile-picture{
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 4px solid #FFF;
  margin: 10px;
}

#fb-button i {
  margin-right: 5px;
}

.event {
  margin: 10px;
}