<div class="container">
  <form role="form">
    <fieldset>
      <legend>Pick me up from:</legend>
      <div class="text-center">
        <a class="btn btn-lg" ng-class="{active: home, 'btn-info': home, 'btn-default': !home}" ng-click="selectHome()">
          <i class="fa fa-home"></i> Home
        </a>
      </div>
      <h3 class= "text-center"> or </h3>
      <div class="form-group">
        <input type="text" class="form-control" ng-click="selectCustomAddress()" placeholder="Enter Custom Address">
      </div>
    </fieldset>
    <hr>
  </form>
  <div class="btn-group justified">
    <a href="#" class="btn btn-default" ng-click="goBack()">Go Back</a>
    <a href="#" class="btn btn-primary">Submit</a>
  </div>
</div>