  <div class="mdl-typography--text-center">
      <div class="span12">
        <img class="profile-picture img-circle" ng-src="/images/welcome_card.jpg">
        <h1 class="event">UCPOOL</h1>
        <button id="fb-button" ng-disabled="submitting"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            ng-click="fbLogin()"><i class="fa fa-facebook-f"></i> Continue with Facebook</button>
    <p class="text-danger">{{error}}</p>
  </div>
  </div>