<div class="mdl-grid" id="static-home-grid">
  <div class="mdl-typography--text-center">
    <img class="profile-picture img-circle" ng-src="/images/logo.png">
    <h2>UCPOOL</h2>
    <button id="fb-button" ng-disabled="submitting"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            ng-click="fbLogin()"><i class="fa fa-facebook-f"></i> Continue with Facebook</button>
    <p class="text-danger">{{error}}</p>
  </div>
  <div class="mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--12-col-desktop" id ="landing-facebook-events">
    <img src="/images/facebook and UCPool.png">
    <h4>All your Facebook events in one place.</h4>
    <p>
      UCPool allows you to get all the information you need from your Facebook events
      without having to switch between apps.
    </p>
  </div>
  <div class="mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--12-col-desktop">
    <div class="mdl-typography--text-center">
    <img src="images/mobile first.png" id="img-mobile-first">
    </div>
    <h4>Mobile first.</h4>
    <p>
      UCPool is built primarily for mobile devices, so you can access information about your events,
      request or offer rides, and check all of your past or future rides at any time, wherever you are.
    </p>
  </div>
  <div class="mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--12-col-desktop" id="landing-get-notifications">
    <img src="images/sample notification.png">
    <h4>Get notified for ride-sharing opportunities.</h4>
    <p>
      If you need a ride to an event, we will let you know when we have found you a ride.
      If you are able to offer rides, we will put you in contact with like-minded people
      who need rides.
    </p>
  </div>
  <div class="mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--12-col-desktop" id="landing-mutual-interests">
    <img src="https://a.slack-edge.com/bfaba/img/survey/survey_chat_clean.png" id="img-mutual-interests">
    <h4>We arrange rides based on mutual interests.</h4>
    <p>
      UCPool uses data from Facebook to match you with people with whom you share many
      interests, allowing you to meet interesting people who like the same things you do.
    </p>
  </div>
  <div class="mdl-typography--text-center" id="landing-sign-up">
    <h3>Sign up today.</h3>
    <button id="fb-button-2" ng-disabled="submitting"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            ng-click="fbLogin()"><i class="fa fa-facebook-f"></i> Continue with Facebook</button>
    <p class="text-danger">{{error}}</p>
  </div>
</div>
