

<h4 style="margin-left: 20px;">Upcoming Events</h4>
<hr>
<div class="container">
  <!--Spinner while projects are being loaded-->
  <div class="events-spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner" ng-class="{'is-active': !events}" ng-hide="events"></div>

  <div class="mdl-grid">
    <div ng-repeat="event in events"
         class="event mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--6-col-desktop">
      <div class="mdl-card mdl-shadow--2dp">
        <a ng-href="https://facebook.com/{{event.fbEventId}}" ng
          -click="fbEventLinkClicked(event)" target="_blank">
        <div class="mdl-card__title scrim" back-img="{{event.cover}}">
          <!--  <h2 class="mdl-card__title-text nameShadow">{{event.name}}</h2> -->
        </div>
        </a>
        <div class="mdl-card__supporting-text">
          <!--TODO-->
          <a ng-href="https://facebook.com/{{event.fbEventId}}" ng
          -click="fbEventLinkClicked(event)" target="_blank">
           <h2 class="mdl-card__title-text nameShadow">{{event.name}}</h2>
           </a>
          <p><i class="material-icons md-18">location_on</i> 123 Stanford St.</p>
          <p><i class="material-icons md-18">date_range</i> {{getFormattedDate(event.startTime)}} at {{getFormattedTime(event.startTime)}}</p>
          <p ng-click="expandEvent(event)">Description
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
              <i class="material-icons" ng-hide="event.expanded">keyboard_arrow_down</i>
              <i class="material-icons" ng-show="event.expanded">keyboard_arrow_up</i>
            </button>
          </p>
          <p ng-show="event.expanded">{{event.description}}</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a ng-href="#" ng-if="!event.driving && !event.riding" ng-click="getRide(event)">
            <div class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              I need a ride
            </div>
          </a>
          <a ng-href="#" ng-if="!event.driving && !event.riding" ng-click="giveRide(event)">
            <div class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              I'm driving
            </div>
          </a>
          <p ng-if="event.riding || event.driving" style="color: rgba(0,0,0,.54);"><i class="material-icons md-24">info_outline</i>
            {{event.riding ? 'We will look for rides' : 'We will look for carpoolers'}}
          </p>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect scrim" ng-click="dismissEvent(event)">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<h4 style="margin-left: 20px;">Upcoming Events</h4>
<hr>
<div class="container">
  Spinner while projects are being loaded
  <div class="events-spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner" ng-class="{'is-active': !events}" ng-hide="events"></div>

  <div class="mdl-grid">
    <div ng-repeat="event in events"
         class="event mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--6-col-desktop">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mld-card__title" back-img="{{event.cover}}">
          <a ng-href="https://facebook.com/{{event.fbEventId}}" ng
          -click="fbEventLinkClicked(event)" target="_blank">
           <h2 class="mdl-card__title-text nameShadow">{{event.name}}</h2>
          
        </div>
        <div class="mdl-card__supporting-text">
          <a ng-href="https://facebook.com/{{event.fbEventId}}" ng-click="fbEventLinkClicked(event)" target="_blank">
            <h2 class="mdl-card__title-text nameShadow">{{event.name}}</h2>
          </a> 

          <p><i class="material-icons md-18">location_on</i> 123 Stanford St.</p>
          <p><i class="material-icons md-18">date_range</i> {{getFormattedDate(event.startTime)}} at {{getFormattedTime(event.startTime)}}</p>
          <p ng-click="expandEvent(event)">Description
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
              <i class="material-icons" ng-hide="event.expanded">keyboard_arrow_down</i>
              <i class="material-icons" ng-show="event.expanded">keyboard_arrow_up</i>
            </button>
          </p>
          <p ng-show="event.expanded">{{event.description}}</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a ng-href="#" ng-if="!event.driving && !event.riding" ng-click="getRide(event)">
            <div class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              I need a ride
            </div>
          </a>
          <a ng-href="#" ng-if="!event.driving && !event.riding" ng-click="giveRide(event)">
            <div class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              I'm driving
            </div>
          </a>
          <p ng-if="event.riding || event.driving" style="color: rgba(0,0,0,.54);"><i class="material-icons md-24">info_outline</i>
            {{event.riding ? 'We will look for rides' : 'We will look for carpoolers'}}
          </p>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" ng-click="dismissEvent(event)">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
-->
