<div class="container" style="padding-top: 20px;">
  <!--Spinner-->
  <div class="events-spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner"
       ng-class="{'is-active': !confirmedRides}" ng-hide="confirmedRides"></div>

  <div class="mdl-typography--text-center" ng-show="confirmedRides && (confirmedRides.length == 0)">
    <h4>Nothing to show. Move along.</h4>
  </div>


  <!--Cards-->
  <div class="mdl-grid">
    <div ng-repeat="ride in confirmedRides"
         class="event mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--6-col-desktop">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" back-img="{{ride.cover}}">
          <h2 class="mdl-card__title-text">{{ride.name}}</h2>
        </div>

        <!--Rider-->
        <div ng-if="ride.driver">
          <div class="mdl-card__supporting-text">
            <p><i class="material-icons md-18">location_on</i> 123 Stanford St.</p>
            <p><i class="material-icons md-18">date_range</i> {{getFormattedDate(ride.startTime)}}</p>
            <p><i class="material-icons md-18">access_time</i> {{getFormattedTime(ride.startTime)}}</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <p>
              <a ng-href="https://www.facebook.com/{{ride.driver.facebookId}}" target="_blank">
                <img class="profile-picture-sm img-circle" ng-src="https://graph.facebook.com/{{ride.driver.facebookId}}/picture?height=50&width=50">
              </a>
              {{ride.driver.firstName}} will pick you up
            </p>
          </div>
        </div>


        <!--Driver-->
        <div ng-if="ride.riders">
          <div class="mdl-card__supporting-text">
            <p>Please pick up</p>
          </div>
          <div class="mdl-list">
            <div ng-repeat="rider in ride.riders">
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <a ng-href="https://www.facebook.com/{{rider.facebookId}}" target="_blank">
                    <img class="profile-picture-sm img-circle" ng-src="https://graph.facebook.com/{{rider.facebookId}}/picture?height=50&width=50">
                  </a>
                     {{rider.firstName}} {{rider.lastName}}
                </span>
                <span class="mdl-list__item-secondary-action">
                  <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect">
                    MESSAGE
                  </button>
                </span>
              </li>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>