<div class="container" style="padding-top: 20px;">
  <!--Spinner-->
  <div class="events-spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner"
       ng-class="{'is-active': !pendingRides}" ng-hide="pendingRides"></div>

  <div class="mdl-typography--text-center" ng-show="pendingRides && (pendingRides.length == 0)">
    <h4>Nothing to show. Move along.</h4>
  </div>


  <!--Cards-->
  <div class="mdl-grid">
    <div ng-repeat="ride in pendingRides"
         class="event mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--6-col-desktop">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" back-img="{{ride.cover}}">
        </div>
        <div class="mdl-card__supporting-text">
           <h2 class="mdl-card__title-text">{{ride.name}}</h2>
        </div>

        <!--Rider-->

        <div ng-if="ride.driver">
          <div class="mdl-card__supporting-text">
            <p>
              <a ng-href="https://www.facebook.com/{{ride.driver.facebookId}}" target="_blank">
                <img class="profile-picture-sm img-circle" ng-src="https://graph.facebook.com/{{ride.driver.facebookId}}/picture?height=50&width=50">
              </a>
              {{ride.driver.firstName}} will pick you up from:
            </p>
            <p><i class="material-icons md-18">location_on</i> 123 Stanford St.</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" ng-click="confirmRide(ride)">
              <div class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Confirm
              </div>
            </a>
            <a ng-href="#" ng-click="declineRide(ride)">
              <div class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Decline
              </div>
            </a>
          </div>
        </div>


        <!--Driver-->
        <div ng-if="ride.riders">
          <div class="mdl-card__supporting-text">
            <p>We've found {{ride.riders.length}} people you can pick up</p>
          </div>
          <div class="mdl-list">
            <div ng-repeat="rider in ride.riders">
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <a ng-href="https://www.facebook.com/{{rider.facebookId}}" target="_blank">
                    <img class="profile-picture-sm img-circle" ng-src="https://graph.facebook.com/{{rider.facebookId}}/picture?height=50&width=50">
                  </a>
                     {{rider.firstName}} {{rider.lastName}}
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-2">
                    <input type="checkbox" id="list-checkbox-2" class="mdl-checkbox__input" ng-model="rider.canPick" />
                  </label>
                </span>
              </li>
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" ng-click="confirmPickup(ride)">
              <div class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Confirm Pickup
              </div>
            </a>
            <a ng-href="#" ng-click="notDriving(ride)">
              <div class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Not Driving
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>